@model IEnumerable<VisualizationWeb.Models.Sensor>

@{
    ViewBag.Title = "Index";
}

<h2>Sensoren</h2>
<br />

<p>
     @Html.ActionLink("To Add", "Create", new {  }, new { @class = "btn btn-info" })
</p>

<section class="sensores">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table ">
                            <tr>
                                <th data-toggle="tooltip" data-placement="bottom" title="Das ist der Name des Sensor">@Html.DisplayNameFor(model => model.Title)</th>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            </tr>
                            <tr>
                                <th data-toggle="tooltip" data-placement="right" title=" ">@Html.DisplayNameFor(model => model.Factor)</th>
                                <td>@Html.DisplayFor(modelItem => item.Factor)</td>
                            </tr>
                            <tr>
                                <th data-toggle="tooltip" data-placement="right" title=" ">@Html.DisplayNameFor(model => model.Einheiten)</th>
                                <td>@Html.DisplayFor(modelItem => item.Einheiten)</td>
                            </tr>
                            <tr>
                                <th data-toggle="tooltip" data-placement="right" title=" ">@Html.DisplayNameFor(model => model.SCode)</th>
                                <td>@Html.DisplayFor(modelItem => item.SCode)</td>
                            </tr>
                            <tr>
                                <th data-toggle="tooltip" data-placement="right" title=" ">@Html.DisplayNameFor(model => model.Prefix)</th>
                                <td>@Html.DisplayFor(modelItem => item.Prefix)</td>
                            </tr>
                            <tr>
                                <th data-toggle="tooltip" data-placement="right" title=" ">@Html.DisplayNameFor(model => model.Notes)</th>
                                <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                            </tr>
                        </table>
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.SensorID }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Details", "Details", new { id = item.SensorID }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.SensorID }, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>