@model IEnumerable<VisualizationWeb.Models.SimData>

@*@{
    ViewBag.Title = "Index";
}*@

<h2>Simulation data</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SimTime) in hours
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wind) in %
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sun) in %
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consumption) in %
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SimTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consumption)
        </td>
        <td>
            <div class="actions-bar">
                @Html.ActionLink(" ", "Edit", new { id = item.SimDataID }, new { title = "Edit", @class = "glyphicon glyphicon-pencil btn btn-default btn-sm" })
                @Html.ActionLink(" ", "Details", new { id = item.SimDataID }, new { title = "Details", @class = "glyphicon glyphicon-eye-open btn btn-default btn-sm" })
                @Html.ActionLink(" ", "Delete", new { id = item.SimDataID }, new { title = "Delete", @class = "glyphicon glyphicon-trash btn btn-danger btn-sm" })
            </div>
        </td>
    </tr>
}

</table>
