@model IEnumerable<VisualizationWeb.Models.SimData>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SimTime) in hours
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wind) in %
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sun) in %
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consumption) in %
        </th>
        <th>
            @if (ViewBag.showDeleteButton)
            {
                @Html.ActionLink(" ", "Create", "SimDatas", new { id = ViewBag.SimTypeID }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-plus" })
            }
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SimTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumption)
            </td>
            <td>
                <div class="actions-bar">
                    @Html.ActionLink(" ", "Edit", "SimDatas", new { id = item.SimDataID }, new { title = "Edit", @class = "glyphicon glyphicon-pencil btn btn-default btn-xs" })
                    @Html.ActionLink(" ", "Delete", "SimDatas", new { id = item.SimDataID }, new { title = "Delete", @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })
                </div>
            </td>
        </tr>
    }

</table>