
@Scripts.Render("~/Scripts/Charts/moment.min.js")
@Scripts.Render("~/Scripts/Charts/Chart.js")
@Scripts.Render("~/Scripts/visualisation.js")

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
@*<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            @Html.Partial("../Charts/Partials/_SimulationTitle")
        </div>        
    </div>
</div>*@

<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body" id="ProgressBarDiv">
                @Html.Partial("../Charts/SimulationTimeProgressBar")
            </div>
        </div>
    </div>
        @if (User.IsInRole("Admin") || User.IsInRole("Simulant")) {
            <div class="col-md-2">
                @Html.Partial("../Charts/Partials/_StartSimulationModalPartial")
            </div>
        }
    </div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body" id="PowerChartPanel">
                @Html.Partial("../Charts/PowerChart")
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" id="CityRotationChartPanel">
                @Html.Partial("../Charts/CityRotationChart")
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body" id="PumpsChartPanel">
                @Html.Partial("../Charts/PumpsChart")
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body" id="HeightPanel">
                @Html.Partial("../Charts/CityHeight")
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body" id="WindChartPanel">
                @Html.Partial("../Charts/WindChart")
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body" id="CityTriangle">
                @Html.Partial("../Charts/CityTriangle")
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" id="ECCPanel">
                @Html.Partial("../Charts/EnergyConsumptionComparison")
            </div>
        </div>
    </div>
</div>
