@model UI.ViewModel.SimScenarioVM.SimStartViewModel

@{
    ViewBag.Title = "Simulation";
}

<h2>Scenarios</h2>

@using (Html.BeginForm("StartSimulation", "Simulations"))
{
<div class="form-horizontal">
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SimScenarioID, "SimScenarioID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SimScenarioID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SimScenarioID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Start" />
        </div>
    </div>
</div>
}