@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h2>Action Bar:</h2>
        @*Actions COPY BELOW*@
        <div class="actions-bar btn-group">
            @Html.ActionLink(" ", "Edit", new {  }, new { title = "Edit", @class = "glyphicon glyphicon-pencil btn btn-default btn-sm" }) 
            @Html.ActionLink(" ", "Details", new {  }, new { title = "Details", @class = "glyphicon glyphicon-eye-open btn btn-default btn-sm" }) 
            @Html.ActionLink(" ", "Delete", new {  }, new { title = "Delete", @class = "glyphicon glyphicon-trash btn btn-danger btn-sm" })
        </div>
        @* STOP COPYING *@
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @*Headline COPY BELOW*@
        <div class="app-headline">
            @Html.ActionLink(" ", "Index", new { }, new { @class = "glyphicon glyphicon-arrow-left back-to-list" })
            <h2>Sensoren</h2>
            <div class="app-headline-actions">
                @Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-plus" })
            </div>
        </div>
        @* STOP COPYING *@
    </div>
</div>