<nav class="navigation">
    <div class="navigation-container">
        <div class="navigation-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Floating City", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="sim-time">
              <h2>00:00:00</h2>
        </div>
        <div class="navbar-collapse collapse">
            <div class="navbar-wrapper">
                <div class="nav-top">
                    <ul class="nav navbar-nav">
                        <li class="@(ViewBag.ActiveNav != null && ViewBag.ActiveNav.ToString() == "dashboard" ? "active" : "")">
                            @Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "" }, new { @class = "glyphicon glyphicon-dashboard" })
                        </li>
                        <li class="@(ViewBag.ActiveNav != null && ViewBag.ActiveNav.ToString() == "simulation" ? "active" : "")">
                            @Html.ActionLink("Simulation", "Index", "SimTypes", new { area = "" }, new { @class = "glyphicon glyphicon-hourglass" })
                        </li>
                        <li class="@(ViewBag.ActiveNav != null && ViewBag.ActiveNav.ToString() == "sensor" ? "active" : "")">
                            @Html.ActionLink("Sensors", "Index", "Sensors", new { area = "" }, new { @class = "glyphicon glyphicon-signal" })
                        </li>
                        <li class="@(ViewBag.ActiveNav != null && ViewBag.ActiveNav.ToString() == "settings" ? "active" : "")">
                            @Html.ActionLink("Settings", "Index", "Settings", new { area = "" }, new { @class = "glyphicon glyphicon-cog" })
                        </li>
                    </ul>
                </div>
                <div class="nav-bottom">
                    @Html.Partial("Partials/_NavigationLoginPartial")
                </div>
            </div>
        </div>
    </div>
</nav>