@model IEnumerable<Simulation.Library.ViewModels.SimScenarioVM.SimScenarioIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index Szenarios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeFactor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFactor)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SimScenarioID })
            </td>
        </tr>
    }

</table>
