@model VisualizationWeb.Models.ViewModel.SettingVM

@{
    ViewBag.Title = "Application Settings";
}

<h2>Application Settings</h2>
<hr />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WindMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SunMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SunMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumptionMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumptionMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WindActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SunActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SunActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumptionActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumptionActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SettingID }, null)
</p>
