@model VisualizationWeb.Models.SimType

@{
    ViewBag.Title = "Details";
}

    <h2>Simulation @Html.DisplayFor(model => model.Title)</h2>

<div>
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.SimFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SimFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SimTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.Partial("../SimDatas/Index", Model.SimDatas.OrderBy(s => s.SimTime))
