@model VisualizationWeb.Models.SimType

@{
    ViewBag.Title = "Details";
}

    
    <div class="app-headline app-headline--no-line">
        <h2>Simulation @Html.DisplayFor(model => model.Title)</h2>
        <div class="app-headline-actions">
            @Html.ActionLink(" ", "EditHead", new { id = Model.SimTypeID }, new { title = "Edit", @class = "glyphicon glyphicon-pencil btn btn-default btn-sm" }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.SimFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SimFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>

<div class="app-headline app-headline--no-line">
    <h3>Simulation Types</h3>
    <div class="app-headline-actions">
        @Html.ActionLink("Create", "Edit", new { id = Model.SimTypeID }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-plus" })
        @*@Html.ActionLink(" ", "DeletePos", new { id = Model.SimTypeID }, new { title = "Delete", @class = "glyphicon glyphicon-trash btn btn-danger btn-sm" })*@
    </div>
</div>

@Html.Partial("../SimDatas/Index", Model.SimDatas.OrderBy(s => s.SimDataID))

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Simulation Data</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("../SimDatas/EditModal", new VisualizationWeb.Models.SimData { SimTypeID = Model.SimTypeID })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
