@model VisualizationWeb.Models.SimType

@{
    ViewBag.Title = "Details";
}

    <h2>Simulation @Html.DisplayFor(model => model.Title)</h2>

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.SimFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SimFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.SimTypeID }, new { title = "Edit", @class = "glyphicon glyphicon-pencil btn btn-default btn-sm" }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="app-headline app-headline--no-line">
    <h3>Simulation Types</h3>
    <div class="app-headline-actions">
        @Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-plus" })
    </div>
</div>

@Html.Partial("../SimDatas/Index", Model.SimDatas.OrderBy(s => s.SimTime))
