@model IEnumerable<VisualizationWeb.Models.SimType>

@{
    ViewBag.Title = "Index";
}

<div class="app-headline">
    <h2>Simulation Types</h2>
    <div class="app-headline-actions">
        @Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-plus" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SimFactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SimFactor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            <div class="actions-bar">
                @Html.ActionLink(" ", "Edit", new { id = item.SimTypeID }, new { title = "Edit", @class = "glyphicon glyphicon-pencil btn btn-default btn-sm" })
                @Html.ActionLink(" ", "Details", new { id = item.SimTypeID }, new { title = "Details", @class = "glyphicon glyphicon-eye-open btn btn-default btn-sm" })
                @Html.ActionLink(" ", "Delete", new { id = item.SimTypeID }, new { title = "Delete", @class = "glyphicon glyphicon-trash btn btn-danger btn-sm" })
            </div>
        </td>
    </tr>
}

</table>
