@model IEnumerable<VisualizationWeb.Models.SimType>

@{
    ViewBag.Title = "Index";
}

<h2>Simulation Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SimFactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SimFactor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            <div class="actions-bar">
                @Html.ActionLink(" ", "Edit", new { id = item.SimTypeID }, new { @class = "glyphicon glyphicon-pencil" })
                @Html.ActionLink(" ", "Details", new { id = item.SimTypeID }, new { @class = "glyphicon glyphicon-eye-open" })
                @Html.ActionLink(" ", "Delete", new { id = item.SimTypeID }, new { @class = "glyphicon glyphicon-trash" })
            </div>
        </td>
    </tr>
}

</table>
